body {
    background-color: #e1dbd6;
    font-family: "Roboto Mono";
}

.calculator {
    background-color:  #C1CCCA;
    width: 400px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    margin: auto;
    margin-top: 75px;
    box-sizing: border-box;
    padding: 18px;
}

.display {
    background-color: #e1dbd6;
    height: 150px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.operation-display {
    height: 50px;
    font-size: 26px;
}

.number-display {
    height: auto;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 48px;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 18px;
}

button {
    height: 60px;
    padding: 0;
    border-width: 2px;
    border-radius: 5px;
    font-size: 24px;
}

.operand {
    background-color: #e1dbd6;
}

.operator {
    background-color: #FFEE93;
}

.special {
    background-color: #ffc09f;
}
